*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
h1,h2,h3,h4,h5,button,input,a{
    font-family: 'Raleway', sans-serif;
}
p,span{
    font-family: 'Open Sans', sans-serif;
}
#wrapper{
    width: 100%;
    height: 100%;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    position: relative;
}
.nav-list{
    margin-left: auto;
    display: flex;
    list-style: none;
}
.navbar img{
    width: 120px;
}
.nav-list a{
    text-decoration: none;
    margin: 20px;
    color: hsl(243, 87%, 12%);
    font-size: 15px;
    font-weight: 500;
}
.nav-list a:hover{
   color:  hsl(224, 93%, 58%);
}
.sign-in{
    border: 1px solid ;
    border-radius: 50px;
    padding: 5px 15px;
}
.burger{
    display: none;
}
.burger .line {
    width: 30px;
    height: 3px;
    background-color: hsl(243, 87%, 12%);
    margin: 5px;
}


@media screen and (max-width: 890px){
    #wrapper{
        overflow-x: hidden;
    }
    .nav-list{
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        max-width: 300px;
        height: 70vh;
        background-color: #fff;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(110%);
        transition: .8s ease-out;
        box-shadow: -5px 10px 10px rgba(0, 0, 0, .3)
    }
    .nav-list a{
        margin: 0 80px;
    }
    .nav-list-shown{
        transform: translate(0);
    }
    .burger{
        cursor: pointer;
        display: block;
    }
}